# ServiceNow Instance
SERVICENOW_INSTANCE_URL=https://dev352314.service-now.com

# ServiceNow OAuth Client Credentials
SERVICENOW_CLIENT_ID=9b8958a5c4a14c36924c9b1c7ae8240c
SERVICENOW_CLIENT_SECRET=NV?}Pjyxv8IA[oy@ZF(FKeNTa]Xz:1SK
